@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.nav-item,
.navbar-brand {
    padding: 0 10px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.nav-item:hover,
.navbar-brand:hover {
    background-color: gray;
    border-radius: 10px;
    opacity: 50%;

}
